body{
    font-family: OCR A Std, monospace;
    background-color: #ffffff;
    color: #F5EFED;
    font-size: 16px; 
    width: 80%;
}


.contenedor{
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 500px;
    margin: 25px auto;
    background: linear-gradient(90deg, #cf5926 10%, #e19245);
    opacity: 82%;
}

header h1{
    color:  #3c1f0a;
    font-size:40px;
    width:50%;
    text-align: left;
    margin:10px auto;
    
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-text{
    vertical-align:top;
    margin: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: #ffc423;
    font-weight: bold;
    background-color:transparent ;
}

.input-text:hover{
    padding: 10px;
    transition: 1s;
}

.input-text::placeholder, .mensaje::placeholder {
    color:#ffffff;
    opacity:30%;
    font-weight: bolder;
}

.mensaje-contenedor{
    border: 2px solid black;
    border-radius: 30px;
    margin-right: 30px;
    padding: 10px;
    background-color: transparent;
}
.mensaje{
    color: #c0b212;
    margin: 14px;
    border: 0px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    background-image: url("../img/comp-unscreen.gif");
    background-color: rgba(1, 20, 39, 0.0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 340px;
}
.mensaje-contenedor .copiar{
    margin: 0 25%;
}
.aviso{
    margin: 0 50px;
    color:  #dec63f ;
    font-style:italic;
    font-weight:bold;
    font-size: 18px;
    margin-left: 20px;
}
.botones button, .copiar{
    font-family:  Bradley Hand, cursive;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 16px;
    gap: 8px;
    width: 180px;
    height: 50px;
    background:  #decf07;
    border-radius: 24px;
    text-transform: uppercase;
}
.botones button:hover{
    background: #fd9902;
    padding: 10px;
    transition: .3s;
}
.copiar:hover{
    background: #fd9902;
    padding: 10px;
    transition: .3s;
}

ul{
    list-style: none;
}

.links{
    margin-bottom: 20px;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.links ul li{
    font-size:18px;
    color: rgba(244, 235, 235, 0.826);
    opacity:85%;
    font-weight: bolder;
}
.links ul li a{
    color: #ffc423;
    font-weight: bolder;
    text-shadow: -2px -2px 1px #000;
    text-decoration: none;
}
.links ul li a:hover{
    color: #e7ca7f;
}
/* pagina responsiva para pantallas pequeñas  */
@media screen and (max-width: 480px){
    
    header h1{
        font-size:35px;
        text-align: left;
        margin-left: 20px;
    }
    main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        align-content: center;
    }
    .input-text{
        width: 80%;
        margin: 20px auto;
        margin-bottom: -10px;
    }
    .aviso{
        width: 90%;
        text-align: center;
        margin-left: 18px;
    }
    .mensaje-contenedor{
        width: 75%;
        margin: 30px auto;
    }
    .mensaje{
        width:98%;
        margin-left:0px;
    }
    .botones, .botones-copy{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .botones button, .copiar{
        width: 250px;
        height: 50px;
        margin: 10px auto;
    }
    .links ul li{
        text-align: left;
        margin-bottom: 10px;
    }
}